<!DOCTYPE html>
<html lang="<%= language %>" dir="<%= language === 'ar' ? 'rtl' : 'ltr' %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meso Card</title>
    <script src="/static/scripts/tailwind3.4.16.js"></script>
    <link rel="stylesheet" href="/static/styles/home.css">
    <script>
        tailwind.config = {
          darkMode: 'class',
          theme: {
            extend: {
              colors: {
                primary: {
                  DEFAULT: '#3B82F6',
                  '50': '#EBF2FF',
                  '100': '#D6E4FF',
                  '200': '#ADCAFD',
                  '300': '#85B0FC',
                  '400': '#5C96FB',
                  '500': '#3B82F6',
                  '600': '#0B61EF',
                  '700': '#084BBD',
                  '800': '#06368A',
                  '900': '#042158'
                },
              }
            }
          }
        }
    </script>
</head>
<body class="bg-gray-50 dark:bg-gray-900" >
    <div class="min-h-screen flex flex-col ">
        <!-- Top Navbar -->
        <nav class="fixed top-0 left-0 right-0 bg-white dark:bg-gray-800 shadow-sm z-50 h-16 flex items-center px-4">
            <div class="md:hidden">
                <button id="toggle-sidebar" class="p-2 rounded-md text-gray-600 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                  </svg>
                </button>
            </div>

            <div class="flex items-center">
                <span class="text-2xl font-bold text-primary-600 dark:text-primary-400">
                    Meso Card
                </span>
            </div>

            <div class="flex items-center space-x-3 <%= language === 'ar' ? 'mr-auto' : 'ml-auto' %>">
                <!-- Language Selector -->
                <div class="language-selector relative <%= language === 'ar' ? 'mr-auto' : 'ml-auto' %>">
                    <button id="language-dropdown-btn" class="p-2 rounded-md text-gray-600 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 flex items-center <%= language === 'ar' ? 'flex-row-reverse' : '' %>">
                        <% if (session && session.lang === 'ar') { %>
                            <!-- License: CC0. Made by SVG Repo: https://www.svgrepo.com/svg/241286/saudi-arabia -->
                            <!-- Arabic Flag SVG -->
                            <svg version="1.1" height="35" width="35px" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 496 496" style="enable-background:new 0 0 496 496;" xml:space="preserve"><path style="fill:#009966;" d="M496,369.6c0,27.2-21.6,48.8-48,48.8H48c-26.4,0-48-21.6-48-48.8V126.4c0-27.2,21.6-48.8,48-48.8h400c26.4,0,48,21.6,48,48.8V369.6z"/><path style="fill:#038E5C;" d="M48,77.6h400c26.4,0,48,21.6,48,48.8v243.2c0,27.2-21.6,48.8-48,48.8"/><g><path style="fill:#007A54;" d="M496,369.6c0,27.2-21.6,48.8-48,48.8H48c-26.4,0-48-21.6-48-48.8"/><path style="fill:#007A54;" d="M48,77.6h400c26.4,0,48,21.6,48,48.8v88.8"/></g><g><path style="fill:#FFFFFF;" d="M60.8,155.2c3.2-2.4,3.2,4,0,11.2c1.6-2.4,4.8-8,4-12c-0.8-5.6-4-4.8-6.4-1.6C56.8,155.2,57.6,156.8,60.8,155.2z"/><path style="fill:#FFFFFF;" d="M61.6,200.8c4-7.2,2.4-12.8,5.6-23.2c2.4-6.4,2.4-1.6,2.4,2.4c-1.6,10.4-0.8,27.2,13.6,26.4c0.8,9.6,3.2,26.4,3.2,32.8c0,5.6,0.8,4,2.4,0.8c1.6-3.2,0.8-7.2,0.8-12c0-4.8-0.8-13.6-1.6-25.6c1.6-1.6,4-4,4.8-5.6c1.6-4,2.4-3.2,3.2,0c1.6,6.4,8,10.4,16,4c8-5.6,4.8-16.8,0.8-28.8c3.2,0.8,4-1.6,2.4-4.8c-0.8-1.6-2.4-3.2-3.2-4.8c-1.6-1.6-2.4-3.2-4-1.6s-2.4,3.2-3.2,4c-0.8,0.8-0.8,2.4,0,4.8c3.2,7.2,4.8,15.2,5.6,19.2c0.8,4-0.8,4.8-4,4.8c-2.4,0-6.4-0.8-8-7.2s-2.4-8.8-1.6-13.6c0-4,0.8-7.2-2.4-11.2c-3.2-4-3.2-3.2-4-1.6c-0.8,2.4-1.6,5.6-0.8,9.6c1.6,5.6,2.4,10.4,3.2,13.6c0.8,2.4-1.6,7.2-5.6,9.6c-0.8-8-1.6-17.6-2.4-26.4c4.8-1.6,2.4-7.2-1.6-13.6c-2.4-4.8-4-3.2-5.6,0c-1.6,3.2-0.8,4.8,0.8,7.2c-0.8,2.4,0.8,5.6,1.6,11.2c0.8,4,1.6,14.4,1.6,23.2c-3.2,0-5.6-2.4-7.2-5.6c-2.4-6.4-2.4-12.8-0.8-16c1.6-4,2.4-9.6,0-11.2s-4.8,0-6.4,3.2c-3.2,4.8-6.4,11.2-6.4,18.4c0,2.4-0.8,8-2.4,10.4c-0.8,2.4-3.2,2.4-4.8-0.8c-3.2-4.8-4-17.6-4-24c0-3.2-0.8-4-1.6,0c-3.2,12.8,0.8,25.6,3.2,31.2C55.2,207.2,59.2,205.6,61.6,200.8z"/><path style="fill:#FFFFFF;" d="M100,159.2c1.6-1.6,1.6-1.6,2.4,0s3.2,1.6,4,0s1.6-2.4,0.8-4.8c-0.8-1.6-0.8-0.8-1.6,0.8c-0.8,3.2-4,2.4-4-1.6s-0.8-1.6-2.4,0.8c-1.6,4-4,3.2-4-0.8c0-2.4-0.8-4.8-2.4-1.6c-0.8,2.4,0,4.8,0.8,6.4C96,160.8,98.4,160.8,100,159.2z"/><path style="fill:#FFFFFF;" d="M76,219.2c2.4-0.8,2.4-0.8,2.4-4c0-3.2-1.6-1.6-4.8-0.8c-4.8,1.6-14.4,6.4-21.6,15.2c-3.2,4-0.8,2.4,1.6,0.8C57.6,227.2,69.6,220.8,76,219.2z"/><path style="fill:#FFFFFF;" d="M60,270.4c-2.4,4-7.2-1.6-4-12c0.8-2.4,1.6-4,1.6-5.6s0-3.2,0-5.6c0-1.6-1.6,0.8-2.4,4c-0.8,4.8-4,7.2-3.2,22.4c0.8,8.8,11.2,8.8,12-2.4C64,266.4,62.4,266.4,60,270.4z"/><path style="fill:#FFFFFF;" d="M131.2,236.8c0-4-0.8-8-0.8-12c0.8,0,0.8-0.8,1.6-0.8c2.4,7.2,12.8,5.6,16,0.8c1.6-2.4,1.6-2.4,3.2,0c2.4,3.2,10.4,4.8,12,0c1.6-4.8,1.6-9.6,0.8-12.8c-0.8-4-1.6-3.2-4-1.6c-2.4,1.6-0.8,2.4,0,4.8c0.8,9.6-7.2,8.8-8-0.8c-0.8-6.4-1.6-4-2.4-0.8c-4,12-14.4,14.4-12.8,0c0-4-2.4-2.4-4-0.8c-0.8,0.8-2.4,2.4-3.2,3.2c-0.8-11.2-1.6-24-3.2-40c3.2,4,6.4-0.8,4-4.8c-1.6-3.2-4-11.2-5.6-15.2s-2.4-3.2-5.6,0.8c-3.2,3.2-2.4,4-1.6,8c0,4.8,0,8.8,1.6,17.6c0.8,6.4,2.4,20,4,36.8c-1.6,0.8-4,2.4-5.6,3.2c-0.8-3.2-3.2-4.8-6.4-8c-4.8-4.8-8-4.8-12,0.8s-3.2,6.4-3.2,12c0,4.8-0.8,6.4,3.2,8s5.6,0.8,8,0c1.6-0.8,4-1.6,7.2-2.4c0.8,2.4,0,5.6-1.6,7.2c-9.6,11.2-24,20-30.4,12c-3.2-4-4.8-10.4-4-18.4c0.8-6.4-0.8-3.2-1.6-1.6c-2.4,7.2-3.2,18.4,0,24c4,8,11.2,11.2,22.4,5.6c11.2-4.8,21.6-13.6,21.6-25.6c0-2.4,0-4,0-5.6c1.6-0.8,3.2-1.6,4-2.4c0,4,0,9.6,0,13.6c0.8,12.8-4.8,16.8-9.6,20.8c-6.4,4.8-15.2,8.8-23.2,9.6c-17.6,2.4-21.6-8.8-21.6-24c0-2.4,0.8-4,0.8-7.2c0-6.4-0.8-5.6-3.2,0.8c-1.6,6.4-4,20.8,1.6,32.8c6.4,12,27.2,8.8,43.2,0.8C130.4,266.4,132,252,131.2,236.8z M108.8,224.8c-4,1.6-5.6-0.8-4.8-3.2c0-2.4,0.8-4,4-2.4c1.6,0.8,3.2,2.4,4.8,4.8C110.4,224.8,109.6,224.8,108.8,224.8z"/><path style="fill:#FFFFFF;" d="M149.6,250.4c1.6-3.2,2.4-6.4,1.6-10.4c-0.8-2.4,0-3.2-2.4-4.8c-2.4-0.8-3.2,0.8-4,2.4c-0.8,2.4,0.8,5.6,4,4c0.8,1.6,0,5.6-0.8,8C147.2,252.8,148,253.6,149.6,250.4z"/><path style="fill:#FFFFFF;" d="M156,185.6c-3.2,4-5.6,9.6-0.8,12.8c2.4,1.6,7.2-0.8,8.8-4c1.6-4,0.8-4.8-2.4-0.8c-4,4.8-8.8,0.8-4-6.4C160.8,182.4,158.4,181.6,156,185.6z"/><path style="fill:#FFFFFF;" d="M142.4,186.4c11.2-4.8,17.6-11.2,20.8-16.8c3.2,0.8,4-1.6,2.4-4c0.8-2.4,1.6-4,2.4-5.6c2.4-10.4-8-11.2-10.4-3.2c-1.6,4-1.6,8,1.6,10.4c-4.8,6.4-11.2,12-19.2,16.8C136.8,187.2,137.6,188.8,142.4,186.4z M161.6,158.4c0.8-2.4,2.4-0.8,2.4,0.8c0,0.8-0.8,2.4-1.6,3.2C160.8,161.6,160.8,160,161.6,158.4z"/></g><path style="fill:#CFE7E8;" d="M157.6,156.8c-1.6,4-1.6,8,1.6,10.4c-0.8,0.8-1.6,2.4-2.4,3.2l4,3.2c0.8-1.6,2.4-2.4,3.2-4c3.2,0.8,4-1.6,2.4-4c0.8-2.4,1.6-4,2.4-5.6C170.4,149.6,160.8,148.8,157.6,156.8z M164,159.2c0,0.8-0.8,2.4-1.6,3.2c-1.6-0.8-1.6-2.4-0.8-4C162.4,156,164,157.6,164,159.2z"/><path style="fill:#FFFFFF;" d="M169.6,250.4c-1.6,0.8-4,3.2-5.6,4.8c0-3.2,0.8-8,0.8-9.6c0-2.4-0.8-3.2-2.4-0.8c-2.4,4.8-4.8,11.2-5.6,16c-10.4,7.2-23.2,14.4-32,18.4c-4,1.6-1.6,3.2,1.6,2.4c12-4,21.6-7.2,30.4-11.2c0.8,7.2,3.2,12,9.6,13.6c12,3.2,24-7.2,37.6-25.6c3.2,8.8,11.2,20.8,32,24c8.8,1.6,8,0.8,9.6-4c0.8-4,2.4-4.8-4.8-6.4c-8.8-3.2-12-9.6-3.2-13.6s20.8-7.2,28.8-8.8c5.6-0.8,7.2-0.8,8.8-5.6c1.6-5.6,2.4-6.4-3.2-5.6c-6.4,0.8-36.8,1.6-44.8,0.8c6.4-3.2,15.2-6.4,21.6-8.8c2.4,1.6,3.2,0.8,2.4-0.8c2.4-0.8,4.8-1.6,7.2-3.2c7.2-4,10.4-12.8,2.4-18.4s-14.4-7.2-18.4-1.6c-3.2,4.8-6.4,9.6-1.6,16c-7.2,2.4-13.6,4.8-20,7.2c-4.8,1.6-7.2,2.4-8.8,8.8s-2.4,6.4,4,7.2c8.8,0,16.8,0,22.4,4.8c-8.8,3.2-15.2,9.6-12,18.4c-4-0.8-8-2.4-11.2-5.6c-6.4-6.4-6.4-17.6-8.8-30.4c-2.4-12.8-8-24-10.4-28.8c-1.6-4.8-2.4-2.4-4,0.8c-1.6,3.2-3.2,4.8-1.6,9.6c3.2,8,8,24,10.4,33.6c-4.8,11.2-17.6,24.8-28,26.4c-8,1.6-10.4-3.2-9.6-7.2c5.6-3.2,10.4-7.2,15.2-12c9.6-10.4,11.2-18.4,4.8-35.2c4,0.8,3.2-2.4-2.4-9.6c-4-4.8-4.8-4-7.2,0.8c-1.6,4-3.2,7.2,1.6,8.8c0.8,2.4,2.4,5.6,4.8,9.6C184.8,240,176.8,244,169.6,250.4zM245.6,215.2c0-2.4,0.8-2.4,4.8,0c4,2.4,7.2,3.2,1.6,4c-1.6,0.8-4,0.8-5.6,1.6C246.4,218.4,246.4,216.8,245.6,215.2z"/><g><path style="fill:#CFE7E8;" d="M271.2,238.4c-4,0-21.6,0.8-33.6,0.8l16,13.6c4-1.6,8.8-2.4,12-3.2c5.6-0.8,7.2-0.8,8.8-5.6C276,238.4,276.8,237.6,271.2,238.4z"/><path style="fill:#CFE7E8;" d="M192.8,200.8l1.6,1.6C194.4,200.8,193.6,200.8,192.8,200.8z"/><path style="fill:#CFE7E8;" d="M233.6,235.2c4.8-2.4,10.4-4,14.4-5.6c2.4,1.6,3.2,0.8,2.4-0.8c2.4-0.8,4.8-1.6,7.2-3.2c7.2-4,10.4-12.8,2.4-18.4c-8-5.6-14.4-7.2-18.4-1.6c-3.2,4.8-6.4,9.6-1.6,16c-5.6,1.6-10.4,3.2-15.2,5.6L233.6,235.2zM251.2,215.2c4,2.4,7.2,3.2,1.6,4c-1.6,0.8-4,0.8-5.6,1.6c-0.8-2.4-0.8-4-0.8-4.8C245.6,212.8,247.2,212.8,251.2,215.2z"/></g><path style="fill:#FFFFFF;" d="M264,280c2.4-0.8,6.4-3.2,9.6-5.6c3.2-3.2,0.8-2.4-1.6-1.6s-4.8,2.4-8,3.2c-3.2,1.6-4,0-2.4-5.6c1.6-4.8,0-4.8-2.4-4s-3.2,2.4-5.6,4c-1.6,0.8-1.6,2.4,2.4,0.8c3.2-1.6,2.4,0,1.6,4C256,279.2,258.4,281.6,264,280z"/><g><path style="fill:#CFE7E8;" d="M189.6,192.8c2.4-5.6,4-11.2,5.6-15.2s3.2-3.2,2.4,0.8c-0.8,7.2-0.8,18.4,6.4,23.2c7.2,4,18.4-3.2,22.4-11.2c12,15.2,22.4,8,23.2-6.4c0-4.8-1.6-14.4-3.2-17.6c-1.6-3.2,0-3.2,1.6-1.6c1.6,1.6,4.8,3.2,3.2-2.4c-1.6-4.8-4-8-6.4-10.4s-3.2-0.8-4,0.8s-0.8,2.4-2.4,4s-0.8,2.4,0,4.8c4.8,11.2,8.8,28,1.6,29.6c-6.4,1.6-10.4-12.8-10.4-19.2c0-8-1.6-15.2-3.2-20c-1.6-4.8-2.4-4.8-4-2.4c-0.8,1.6-0.8,3.2-2.4,4.8c-0.8,1.6,0,2.4,0.8,5.6c4,18.4,3.2,26.4-4.8,31.2c-8,4.8-12.8,0-12.8-5.6s0-12.8,0.8-17.6c0.8-4.8,1.6-6.4,0-8.8s-3.2-1.6-5.6,1.6c-4.8,7.2-10.4,19.2-12,24.8s-5.6,4-8-0.8c-3.2-5.6-2.4-16-1.6-20.8c0.8-4,0.8-5.6-1.6-1.6c-4,11.2-4,22.4,4.8,32C184,201.6,187.2,198.4,189.6,192.8z"/><path style="fill:#CFE7E8;" d="M212,171.2c0,2.4,0,5.6,1.6,0.8c0.8-4.8,0.8-11.2-0.8-15.2s-2.4-4.8-4-3.2s-1.6,2.4,0,4C210.4,160,212.8,165.6,212,171.2z"/><path style="fill:#CFE7E8;" d="M228.8,208.8c0,6.4-1.6,6.4-4,0c-0.8-2.4-1.6-2.4-2.4,0.8c0,5.6-2.4,6.4-4,0.8c-0.8-2.4-0.8-4.8-1.6-0.8c-0.8,3.2,0,5.6,1.6,8c1.6,1.6,4,1.6,4.8-0.8s1.6-2.4,3.2-0.8c1.6,1.6,8,0,4.8-8.8C229.6,204,228.8,204.8,228.8,208.8z"/><path style="fill:#CFE7E8;" d="M293.6,158.4c2.4,1.6,4.8,5.6,4,10.4c-0.8,4,0,6.4,2.4,0.8c2.4-5.6,0.8-12-1.6-16s-3.2-2.4-4.8-0.8C292,155.2,291.2,157.6,293.6,158.4z"/><path style="fill:#CFE7E8;" d="M252.8,160.8c0,2.4,0.8,4,4,4.8c6.4,8.8,13.6,18.4,20,27.2c0.8,8,2.4,16,3.2,23.2c1.6,16,4.8,37.6,2.4,47.2c-1.6,7.2,0,9.6,3.2-0.8s3.2-20.8,0.8-36c-0.8-6.4-0.8-13.6-1.6-21.6c10.4,16.8,20.8,32.8,24.8,44c2.4,6.4,4.8,7.2,2.4-0.8c-2.4-11.2-12.8-30.4-28.8-54.4c-0.8-6.4-0.8-12.8-0.8-17.6c2.4,2.4,4,0.8,3.2-2.4c-1.6-6.4-4-11.2-6.4-17.6c-0.8-3.2-4-3.2-5.6,0.8c-1.6,4.8-1.6,5.6,0,8.8c0,4,0.8,9.6,1.6,15.2c-2.4-4-6.4-9.6-9.6-13.6c4,1.6,7.2,0.8,3.2-4c-4-4-9.6-8.8-12.8-12c-3.2-3.2-4.8-0.8-4.8,1.6C252.8,156.8,253.6,158.4,252.8,160.8z"/><path style="fill:#CFE7E8;" d="M298.4,183.2c-0.8,4-2.4,2.4-3.2-0.8c-0.8-1.6-1.6-0.8-1.6,2.4c0.8,3.2,1.6,5.6,4,3.2c1.6-1.6,1.6-1.6,4,0c1.6,1.6,3.2,0,4-0.8c0-0.8,0.8-2.4,0-6.4s-1.6-1.6-2.4,1.6s-2.4,4-3.2,0C300,179.2,298.4,180,298.4,183.2z"/><path style="fill:#CFE7E8;" d="M316.8,235.2c0.8,14.4,2.4,20.8-6.4,31.2c-9.6,10.4-16,13.6-20,14.4c-5.6,1.6-7.2,4,0.8,3.2c12-0.8,13.6-0.8,24-12.8c5.6-6.4,8-14.4,8-33.6c-0.8-33.6-4.8-48-4.8-66.4c1.6,1.6,4,1.6,3.2-1.6c-1.6-4-2.4-8.8-3.2-12.8c-1.6-4-2.4-5.6-4-3.2c-1.6,2.4-3.2,3.2-4,4.8s-1.6,4,0,6.4C315.2,204,316,220.8,316.8,235.2z"/><path style="fill:#CFE7E8;" d="M337.6,239.2c0.8,8,2.4,13.6,0,23.2c-0.8,2.4,0.8,4,2.4,0c7.2-13.6,2.4-25.6,1.6-33.6c-0.8-12-5.6-43.2-6.4-56l0.8,0.8c3.2,1.6,7.2,3.2,4.8-1.6c-2.4-4-4.8-11.2-6.4-16c-1.6-4.8-2.4-4.8-4.8-0.8c-4.8,6.4-1.6,12.8,0,20.8C332.8,203.2,336.8,231.2,337.6,239.2z"/><path style="fill:#CFE7E8;" d="M354.4,194.4c2.4,2.4,4,7.2,5.6,9.6c1.6,4,3.2,0.8,3.2-1.6c0-2.4-0.8-9.6,0-12c1.6-4,4,1.6,4.8-0.8c0.8-1.6-0.8-2.4-1.6-4c-0.8-2.4-1.6-1.6-3.2-0.8c-1.6,1.6-2.4,3.2-2.4,4c0,2.4,0,4.8,0,8.8c0,3.2-0.8,3.2-1.6,1.6c-0.8-2.4-3.2-8-4.8-9.6c-1.6-1.6-4-0.8-4,1.6c0,2.4,0,1.6,0,4C350.4,196.8,353.6,196.8,354.4,194.4z"/><path style="fill:#CFE7E8;" d="M352.8,225.6c0,2.4,3.2-0.8,5.6-2.4s9.6-6.4,12.8-8c3.2-1.6,2.4-2.4,1.6-5.6c0-3.2-2.4-0.8-4.8,1.6s-9.6,7.2-12,9.6S352.8,224,352.8,225.6z"/><path style="fill:#CFE7E8;" d="M336,268.8c-3.2-6.4-3.2-12.8-3.2-18.4c0-4.8-0.8-8.8-2.4-0.8c-4.8,19.2-1.6,23.2,3.2,27.2c6.4,5.6,8.8,6.4,12,0.8c6.4-9.6,8.8-17.6,12-22.4c3.2-4,3.2-0.8,4.8,0.8c4,4.8,7.2,6.4,12.8,7.2c5.6,0.8,15.2-4,14.4-21.6c-0.8-11.2-1.6-25.6-2.4-41.6c5.6,7.2,9.6,13.6,13.6,19.2c1.6,10.4,2.4,20,2.4,27.2c-0.8,8.8,1.6,8.8,3.2,0c0.8-3.2,0.8-11.2,0-20c7.2,9.6,11.2,15.2,13.6,20c3.2,5.6,4.8,9.6,4-0.8c0-4-1.6-7.2-6.4-14.4c-4.8-6.4-8.8-12.8-12.8-19.2c-1.6-15.2-3.2-32-3.2-40.8c2.4,1.6,4,0,2.4-3.2c-0.8-3.2-3.2-12.8-4.8-16c-1.6-3.2-3.2-3.2-4.8,0.8c-1.6,3.2-3.2,4.8-2.4,7.2c0.8,15.2,2.4,29.6,4.8,42.4c-4-5.6-8-11.2-11.2-16c0-5.6-0.8-11.2-0.8-16.8c2.4,1.6,3.2,1.6,2.4-2.4c-0.8-3.2-4-11.2-5.6-14.4c-1.6-3.2-2.4-3.2-4-0.8c-2.4,4-3.2,7.2-0.8,11.2c0,4,0.8,7.2,0.8,11.2c-2.4-3.2-4-6.4-6.4-8.8c2.4,0.8,4-0.8,1.6-3.2s-7.2-6.4-9.6-8.8c-2.4-3.2-4-2.4-4,0s0,4.8,0,7.2s0,4,2.4,8c5.6,7.2,12,14.4,16.8,21.6c2.4,25.6,3.2,42.4,3.2,52.8c0,6.4-2.4,9.6-5.6,10.4c-3.2,0.8-6.4-0.8-9.6-5.6c-5.6-8-8-6.4-12,0.8c-4,7.2-7.2,12.8-9.6,17.6C343.2,271.2,339.2,275.2,336,268.8z"/><path style="fill:#CFE7E8;" d="M412.8,180c0,4.8,1.6,4,2.4,0s0.8-12-1.6-16.8c-2.4-5.6-3.2-3.2-4-1.6c-1.6,2.4-1.6,3.2,0.8,5.6C411.2,169.6,412.8,175.2,412.8,180z"/><path style="fill:#CFE7E8;" d="M434.4,229.6c-1.6-33.6-5.6-48-4.8-60.8c3.2,2.4,4,1.6,2.4-2.4s-4-8.8-5.6-13.6c-1.6-4-2.4-3.2-4.8,0c-2.4,3.2-2.4,5.6-1.6,7.2c4.8,40.8,7.2,62.4,8,75.2c0.8,17.6-3.2,28-20.8,40c-5.6,4-12,8,1.6,4.8C421.6,276,436,267.2,434.4,229.6z"/><path style="fill:#CFE7E8;" d="M389.6,264.8c-2.4,3.2,3.2,4.8,4,2.4c1.6,2.4,0,6.4-2.4,8.8c-4,3.2-1.6,4,0.8,1.6c2.4-1.6,8.8-8.8,4.8-13.6C394.4,262.4,391.2,262.4,389.6,264.8z"/></g><path style="fill:#FFFFFF;" d="M372,324c-10.4,0-20,0-30.4,0.8v-3.2c3.2-4,2.4-4,0-8c-0.8-1.6-1.6-3.2-4,0s-2.4,4,0.8,8v3.2c-79.2,0.8-166.4,0-241.6-0.8c8,13.6,35.2,12.8,60,12.8c22.4,0,89.6,0,180.8-2.4v4c-3.2,4-2.4,4,0,8c2.4,3.2,3.2,1.6,4,0c0.8-0.8,0.8-1.6,0.8-1.6h12c0,1.6,2.4,2.4,3.2,2.4c0.8,0,3.2-0.8,3.2-2.4h13.6c1.6,2.4,3.2,3.2,5.6,3.2c4.8,0,7.2-5.6,6.4-12.8C385.6,324.8,381.6,323.2,372,324z M360.8,340c0-1.6-2.4-2.4-3.2-2.4c-0.8,0-3.2,0.8-3.2,2.4h-12c0-0.8-0.8-1.6-2.4-3.2v-4c10.4,0,21.6-0.8,32.8-0.8c-0.8,2.4-0.8,4.8-0.8,7.2L360.8,340z"/><path style="fill:#CFE7E8;" d="M372,324c-10.4,0-20,0-30.4,0.8v-3.2c3.2-4,2.4-4,0-8c-0.8-1.6-1.6-3.2-4,0s-2.4,4,0.8,8v3.2c0,0,0,0-0.8,0l11.2,9.6c8,0,16.8-0.8,24.8-0.8c-0.8,2.4-0.8,4.8-0.8,7.2h-12c0-1.6-2.4-2.4-3.2-2.4c-0.8,0-2.4,0.8-2.4,1.6l5.6,4.8V344h13.6c1.6,2.4,3.2,3.2,5.6,3.2c4.8,0,7.2-5.6,6.4-12.8C385.6,324.8,381.6,323.2,372,324z"/></svg>
                            <% } else { %>
                            <!-- English Flag SVG -->
                            <svg version="1.1" id="Layer_1" height="33px" width="33px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 55.2 38.4" style="enable-background:new 0 0 55.2 38.4" xml:space="preserve">
                                <style type="text/css">.st0{fill:#FEFEFE;} .st1{fill:#C8102E;} .st2{fill:#012169;}</style><g><path class="st0" d="M2.87,38.4h49.46c1.59-0.09,2.87-1.42,2.87-3.03V3.03c0-1.66-1.35-3.02-3.01-3.03H3.01 C1.35,0.01,0,1.37,0,3.03v32.33C0,36.98,1.28,38.31,2.87,38.4L2.87,38.4z"/><polygon class="st1" points="23.74,23.03 23.74,38.4 31.42,38.4 31.42,23.03 55.2,23.03 55.2,15.35 31.42,15.35 31.42,0 23.74,0 23.74,15.35 0,15.35 0,23.03 23.74,23.03"/><path class="st2" d="M33.98,12.43V0h18.23c1.26,0.02,2.34,0.81,2.78,1.92L33.98,12.43L33.98,12.43z"/><path class="st2" d="M33.98,25.97V38.4h18.35c1.21-0.07,2.23-0.85,2.66-1.92L33.98,25.97L33.98,25.97z"/><path class="st2" d="M21.18,25.97V38.4H2.87c-1.21-0.07-2.24-0.85-2.66-1.94L21.18,25.97L21.18,25.97z"/><path class="st2" d="M21.18,12.43V0H2.99C1.73,0.02,0.64,0.82,0.21,1.94L21.18,12.43L21.18,12.43z"/><polygon class="st2" points="0,12.8 7.65,12.8 0,8.97 0,12.8"/><polygon class="st2" points="55.2,12.8 47.51,12.8 55.2,8.95 55.2,12.8"/><polygon class="st2" points="55.2,25.6 47.51,25.6 55.2,29.45 55.2,25.6"/><polygon class="st2" points="0,25.6 7.65,25.6 0,29.43 0,25.6"/><polygon class="st1" points="55.2,3.25 36.15,12.8 40.41,12.8 55.2,5.4 55.2,3.25"/><polygon class="st1" points="19.01,25.6 14.75,25.6 0,32.98 0,35.13 19.05,25.6 19.01,25.6"/><polygon class="st1" points="10.52,12.81 14.78,12.81 0,5.41 0,7.55 10.52,12.81"/><polygon class="st1" points="44.63,25.59 40.37,25.59 55.2,33.02 55.2,30.88 44.63,25.59"/></g>
                            </svg>
                        <% } %>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 <%= language === 'ar' ? 'flex-row-reverse mr-1' : 'ml-1' %> " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                    </button>
                    
                    <!-- Dropdown Menu -->
                    <div id="language-dropdown" class="absolute <%= language === 'ar' ? 'left-0' : 'right-0' %> mt-2 w-48 bg-white dark:bg-gray-800 border dark:border-gray-700 rounded-md shadow-lg z-50 hidden">
                        <ul class="py-1">
                            <li>
                                <button id="en-lang-select" class="w-full text-left px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-700 flex items-center">
                                    <!-- English Flag SVG -->
                                    <svg version="1.1" id="Layer_1" height="25px" width="25px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 55.2 38.4" style="enable-background:new 0 0 55.2 38.4" xml:space="preserve">
                                        <style type="text/css">.st0{fill:#FEFEFE;} .st1{fill:#C8102E;} .st2{fill:#012169;}</style><g><path class="st0" d="M2.87,38.4h49.46c1.59-0.09,2.87-1.42,2.87-3.03V3.03c0-1.66-1.35-3.02-3.01-3.03H3.01 C1.35,0.01,0,1.37,0,3.03v32.33C0,36.98,1.28,38.31,2.87,38.4L2.87,38.4z"/><polygon class="st1" points="23.74,23.03 23.74,38.4 31.42,38.4 31.42,23.03 55.2,23.03 55.2,15.35 31.42,15.35 31.42,0 23.74,0 23.74,15.35 0,15.35 0,23.03 23.74,23.03"/><path class="st2" d="M33.98,12.43V0h18.23c1.26,0.02,2.34,0.81,2.78,1.92L33.98,12.43L33.98,12.43z"/><path class="st2" d="M33.98,25.97V38.4h18.35c1.21-0.07,2.23-0.85,2.66-1.92L33.98,25.97L33.98,25.97z"/><path class="st2" d="M21.18,25.97V38.4H2.87c-1.21-0.07-2.24-0.85-2.66-1.94L21.18,25.97L21.18,25.97z"/><path class="st2" d="M21.18,12.43V0H2.99C1.73,0.02,0.64,0.82,0.21,1.94L21.18,12.43L21.18,12.43z"/><polygon class="st2" points="0,12.8 7.65,12.8 0,8.97 0,12.8"/><polygon class="st2" points="55.2,12.8 47.51,12.8 55.2,8.95 55.2,12.8"/><polygon class="st2" points="55.2,25.6 47.51,25.6 55.2,29.45 55.2,25.6"/><polygon class="st2" points="0,25.6 7.65,25.6 0,29.43 0,25.6"/><polygon class="st1" points="55.2,3.25 36.15,12.8 40.41,12.8 55.2,5.4 55.2,3.25"/><polygon class="st1" points="19.01,25.6 14.75,25.6 0,32.98 0,35.13 19.05,25.6 19.01,25.6"/><polygon class="st1" points="10.52,12.81 14.78,12.81 0,5.41 0,7.55 10.52,12.81"/><polygon class="st1" points="44.63,25.59 40.37,25.59 55.2,33.02 55.2,30.88 44.63,25.59"/></g>
                                    </svg>
                                    <span class="<%= language === 'ar' ? 'mr-2' : 'ml-2' %> text-gray-800 dark:text-gray-200">English</span>
                                </button>
                            </li>
                            <li>
                                <button id="ar-lang-select" class="w-full text-left px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-700 flex items-center">
                                <!-- License: CC0. Made by SVG Repo: https://www.svgrepo.com/svg/241286/saudi-arabia -->
                                <!-- Arabic Flag SVG -->
                                <svg version="1.1" height="27px" width="27px" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 496 496" style="enable-background:new 0 0 496 496;" xml:space="preserve">
                                    <path style="fill:#009966;" d="M496,369.6c0,27.2-21.6,48.8-48,48.8H48c-26.4,0-48-21.6-48-48.8V126.4c0-27.2,21.6-48.8,48-48.8h400c26.4,0,48,21.6,48,48.8V369.6z"/><path style="fill:#038E5C;" d="M48,77.6h400c26.4,0,48,21.6,48,48.8v243.2c0,27.2-21.6,48.8-48,48.8"/>
                                    <g>
                                        <path style="fill:#007A54;" d="M496,369.6c0,27.2-21.6,48.8-48,48.8H48c-26.4,0-48-21.6-48-48.8"/>
                                        <path style="fill:#007A54;" d="M48,77.6h400c26.4,0,48,21.6,48,48.8v88.8"/>
                                    </g>
                                    <g>
                                        <path style="fill:#FFFFFF;" d="M60.8,155.2c3.2-2.4,3.2,4,0,11.2c1.6-2.4,4.8-8,4-12c-0.8-5.6-4-4.8-6.4-1.6C56.8,155.2,57.6,156.8,60.8,155.2z"/><path style="fill:#FFFFFF;" d="M61.6,200.8c4-7.2,2.4-12.8,5.6-23.2c2.4-6.4,2.4-1.6,2.4,2.4c-1.6,10.4-0.8,27.2,13.6,26.4c0.8,9.6,3.2,26.4,3.2,32.8c0,5.6,0.8,4,2.4,0.8c1.6-3.2,0.8-7.2,0.8-12c0-4.8-0.8-13.6-1.6-25.6c1.6-1.6,4-4,4.8-5.6c1.6-4,2.4-3.2,3.2,0c1.6,6.4,8,10.4,16,4c8-5.6,4.8-16.8,0.8-28.8c3.2,0.8,4-1.6,2.4-4.8c-0.8-1.6-2.4-3.2-3.2-4.8c-1.6-1.6-2.4-3.2-4-1.6s-2.4,3.2-3.2,4c-0.8,0.8-0.8,2.4,0,4.8c3.2,7.2,4.8,15.2,5.6,19.2c0.8,4-0.8,4.8-4,4.8c-2.4,0-6.4-0.8-8-7.2s-2.4-8.8-1.6-13.6c0-4,0.8-7.2-2.4-11.2c-3.2-4-3.2-3.2-4-1.6c-0.8,2.4-1.6,5.6-0.8,9.6c1.6,5.6,2.4,10.4,3.2,13.6c0.8,2.4-1.6,7.2-5.6,9.6c-0.8-8-1.6-17.6-2.4-26.4c4.8-1.6,2.4-7.2-1.6-13.6c-2.4-4.8-4-3.2-5.6,0c-1.6,3.2-0.8,4.8,0.8,7.2c-0.8,2.4,0.8,5.6,1.6,11.2c0.8,4,1.6,14.4,1.6,23.2c-3.2,0-5.6-2.4-7.2-5.6c-2.4-6.4-2.4-12.8-0.8-16c1.6-4,2.4-9.6,0-11.2s-4.8,0-6.4,3.2c-3.2,4.8-6.4,11.2-6.4,18.4c0,2.4-0.8,8-2.4,10.4c-0.8,2.4-3.2,2.4-4.8-0.8c-3.2-4.8-4-17.6-4-24c0-3.2-0.8-4-1.6,0c-3.2,12.8,0.8,25.6,3.2,31.2C55.2,207.2,59.2,205.6,61.6,200.8z"/><path style="fill:#FFFFFF;" d="M100,159.2c1.6-1.6,1.6-1.6,2.4,0s3.2,1.6,4,0s1.6-2.4,0.8-4.8c-0.8-1.6-0.8-0.8-1.6,0.8c-0.8,3.2-4,2.4-4-1.6s-0.8-1.6-2.4,0.8c-1.6,4-4,3.2-4-0.8c0-2.4-0.8-4.8-2.4-1.6c-0.8,2.4,0,4.8,0.8,6.4C96,160.8,98.4,160.8,100,159.2z"/><path style="fill:#FFFFFF;" d="M76,219.2c2.4-0.8,2.4-0.8,2.4-4c0-3.2-1.6-1.6-4.8-0.8c-4.8,1.6-14.4,6.4-21.6,15.2c-3.2,4-0.8,2.4,1.6,0.8C57.6,227.2,69.6,220.8,76,219.2z"/><path style="fill:#FFFFFF;" d="M60,270.4c-2.4,4-7.2-1.6-4-12c0.8-2.4,1.6-4,1.6-5.6s0-3.2,0-5.6c0-1.6-1.6,0.8-2.4,4c-0.8,4.8-4,7.2-3.2,22.4c0.8,8.8,11.2,8.8,12-2.4C64,266.4,62.4,266.4,60,270.4z"/><path style="fill:#FFFFFF;" d="M131.2,236.8c0-4-0.8-8-0.8-12c0.8,0,0.8-0.8,1.6-0.8c2.4,7.2,12.8,5.6,16,0.8c1.6-2.4,1.6-2.4,3.2,0c2.4,3.2,10.4,4.8,12,0c1.6-4.8,1.6-9.6,0.8-12.8c-0.8-4-1.6-3.2-4-1.6c-2.4,1.6-0.8,2.4,0,4.8c0.8,9.6-7.2,8.8-8-0.8c-0.8-6.4-1.6-4-2.4-0.8c-4,12-14.4,14.4-12.8,0c0-4-2.4-2.4-4-0.8c-0.8,0.8-2.4,2.4-3.2,3.2c-0.8-11.2-1.6-24-3.2-40c3.2,4,6.4-0.8,4-4.8c-1.6-3.2-4-11.2-5.6-15.2s-2.4-3.2-5.6,0.8c-3.2,3.2-2.4,4-1.6,8c0,4.8,0,8.8,1.6,17.6c0.8,6.4,2.4,20,4,36.8c-1.6,0.8-4,2.4-5.6,3.2c-0.8-3.2-3.2-4.8-6.4-8c-4.8-4.8-8-4.8-12,0.8s-3.2,6.4-3.2,12c0,4.8-0.8,6.4,3.2,8s5.6,0.8,8,0c1.6-0.8,4-1.6,7.2-2.4c0.8,2.4,0,5.6-1.6,7.2c-9.6,11.2-24,20-30.4,12c-3.2-4-4.8-10.4-4-18.4c0.8-6.4-0.8-3.2-1.6-1.6c-2.4,7.2-3.2,18.4,0,24c4,8,11.2,11.2,22.4,5.6c11.2-4.8,21.6-13.6,21.6-25.6c0-2.4,0-4,0-5.6c1.6-0.8,3.2-1.6,4-2.4c0,4,0,9.6,0,13.6c0.8,12.8-4.8,16.8-9.6,20.8c-6.4,4.8-15.2,8.8-23.2,9.6c-17.6,2.4-21.6-8.8-21.6-24c0-2.4,0.8-4,0.8-7.2c0-6.4-0.8-5.6-3.2,0.8c-1.6,6.4-4,20.8,1.6,32.8c6.4,12,27.2,8.8,43.2,0.8C130.4,266.4,132,252,131.2,236.8z M108.8,224.8c-4,1.6-5.6-0.8-4.8-3.2c0-2.4,0.8-4,4-2.4c1.6,0.8,3.2,2.4,4.8,4.8C110.4,224.8,109.6,224.8,108.8,224.8z"/><path style="fill:#FFFFFF;" d="M149.6,250.4c1.6-3.2,2.4-6.4,1.6-10.4c-0.8-2.4,0-3.2-2.4-4.8c-2.4-0.8-3.2,0.8-4,2.4c-0.8,2.4,0.8,5.6,4,4c0.8,1.6,0,5.6-0.8,8C147.2,252.8,148,253.6,149.6,250.4z"/><path style="fill:#FFFFFF;" d="M156,185.6c-3.2,4-5.6,9.6-0.8,12.8c2.4,1.6,7.2-0.8,8.8-4c1.6-4,0.8-4.8-2.4-0.8c-4,4.8-8.8,0.8-4-6.4C160.8,182.4,158.4,181.6,156,185.6z"/><path style="fill:#FFFFFF;" d="M142.4,186.4c11.2-4.8,17.6-11.2,20.8-16.8c3.2,0.8,4-1.6,2.4-4c0.8-2.4,1.6-4,2.4-5.6c2.4-10.4-8-11.2-10.4-3.2c-1.6,4-1.6,8,1.6,10.4c-4.8,6.4-11.2,12-19.2,16.8C136.8,187.2,137.6,188.8,142.4,186.4z M161.6,158.4c0.8-2.4,2.4-0.8,2.4,0.8c0,0.8-0.8,2.4-1.6,3.2C160.8,161.6,160.8,160,161.6,158.4z"/></g><path style="fill:#CFE7E8;" d="M157.6,156.8c-1.6,4-1.6,8,1.6,10.4c-0.8,0.8-1.6,2.4-2.4,3.2l4,3.2c0.8-1.6,2.4-2.4,3.2-4c3.2,0.8,4-1.6,2.4-4c0.8-2.4,1.6-4,2.4-5.6C170.4,149.6,160.8,148.8,157.6,156.8z M164,159.2c0,0.8-0.8,2.4-1.6,3.2c-1.6-0.8-1.6-2.4-0.8-4C162.4,156,164,157.6,164,159.2z"/><path style="fill:#FFFFFF;" d="M169.6,250.4c-1.6,0.8-4,3.2-5.6,4.8c0-3.2,0.8-8,0.8-9.6c0-2.4-0.8-3.2-2.4-0.8c-2.4,4.8-4.8,11.2-5.6,16c-10.4,7.2-23.2,14.4-32,18.4c-4,1.6-1.6,3.2,1.6,2.4c12-4,21.6-7.2,30.4-11.2c0.8,7.2,3.2,12,9.6,13.6c12,3.2,24-7.2,37.6-25.6c3.2,8.8,11.2,20.8,32,24c8.8,1.6,8,0.8,9.6-4c0.8-4,2.4-4.8-4.8-6.4c-8.8-3.2-12-9.6-3.2-13.6s20.8-7.2,28.8-8.8c5.6-0.8,7.2-0.8,8.8-5.6c1.6-5.6,2.4-6.4-3.2-5.6c-6.4,0.8-36.8,1.6-44.8,0.8c6.4-3.2,15.2-6.4,21.6-8.8c2.4,1.6,3.2,0.8,2.4-0.8c2.4-0.8,4.8-1.6,7.2-3.2c7.2-4,10.4-12.8,2.4-18.4s-14.4-7.2-18.4-1.6c-3.2,4.8-6.4,9.6-1.6,16c-7.2,2.4-13.6,4.8-20,7.2c-4.8,1.6-7.2,2.4-8.8,8.8s-2.4,6.4,4,7.2c8.8,0,16.8,0,22.4,4.8c-8.8,3.2-15.2,9.6-12,18.4c-4-0.8-8-2.4-11.2-5.6c-6.4-6.4-6.4-17.6-8.8-30.4c-2.4-12.8-8-24-10.4-28.8c-1.6-4.8-2.4-2.4-4,0.8c-1.6,3.2-3.2,4.8-1.6,9.6c3.2,8,8,24,10.4,33.6c-4.8,11.2-17.6,24.8-28,26.4c-8,1.6-10.4-3.2-9.6-7.2c5.6-3.2,10.4-7.2,15.2-12c9.6-10.4,11.2-18.4,4.8-35.2c4,0.8,3.2-2.4-2.4-9.6c-4-4.8-4.8-4-7.2,0.8c-1.6,4-3.2,7.2,1.6,8.8c0.8,2.4,2.4,5.6,4.8,9.6C184.8,240,176.8,244,169.6,250.4zM245.6,215.2c0-2.4,0.8-2.4,4.8,0c4,2.4,7.2,3.2,1.6,4c-1.6,0.8-4,0.8-5.6,1.6C246.4,218.4,246.4,216.8,245.6,215.2z"/><g><path style="fill:#CFE7E8;" d="M271.2,238.4c-4,0-21.6,0.8-33.6,0.8l16,13.6c4-1.6,8.8-2.4,12-3.2c5.6-0.8,7.2-0.8,8.8-5.6C276,238.4,276.8,237.6,271.2,238.4z"/><path style="fill:#CFE7E8;" d="M192.8,200.8l1.6,1.6C194.4,200.8,193.6,200.8,192.8,200.8z"/><path style="fill:#CFE7E8;" d="M233.6,235.2c4.8-2.4,10.4-4,14.4-5.6c2.4,1.6,3.2,0.8,2.4-0.8c2.4-0.8,4.8-1.6,7.2-3.2c7.2-4,10.4-12.8,2.4-18.4c-8-5.6-14.4-7.2-18.4-1.6c-3.2,4.8-6.4,9.6-1.6,16c-5.6,1.6-10.4,3.2-15.2,5.6L233.6,235.2zM251.2,215.2c4,2.4,7.2,3.2,1.6,4c-1.6,0.8-4,0.8-5.6,1.6c-0.8-2.4-0.8-4-0.8-4.8C245.6,212.8,247.2,212.8,251.2,215.2z"/></g><path style="fill:#FFFFFF;" d="M264,280c2.4-0.8,6.4-3.2,9.6-5.6c3.2-3.2,0.8-2.4-1.6-1.6s-4.8,2.4-8,3.2c-3.2,1.6-4,0-2.4-5.6c1.6-4.8,0-4.8-2.4-4s-3.2,2.4-5.6,4c-1.6,0.8-1.6,2.4,2.4,0.8c3.2-1.6,2.4,0,1.6,4C256,279.2,258.4,281.6,264,280z"/><g><path style="fill:#CFE7E8;" d="M189.6,192.8c2.4-5.6,4-11.2,5.6-15.2s3.2-3.2,2.4,0.8c-0.8,7.2-0.8,18.4,6.4,23.2c7.2,4,18.4-3.2,22.4-11.2c12,15.2,22.4,8,23.2-6.4c0-4.8-1.6-14.4-3.2-17.6c-1.6-3.2,0-3.2,1.6-1.6c1.6,1.6,4.8,3.2,3.2-2.4c-1.6-4.8-4-8-6.4-10.4s-3.2-0.8-4,0.8s-0.8,2.4-2.4,4s-0.8,2.4,0,4.8c4.8,11.2,8.8,28,1.6,29.6c-6.4,1.6-10.4-12.8-10.4-19.2c0-8-1.6-15.2-3.2-20c-1.6-4.8-2.4-4.8-4-2.4c-0.8,1.6-0.8,3.2-2.4,4.8c-0.8,1.6,0,2.4,0.8,5.6c4,18.4,3.2,26.4-4.8,31.2c-8,4.8-12.8,0-12.8-5.6s0-12.8,0.8-17.6c0.8-4.8,1.6-6.4,0-8.8s-3.2-1.6-5.6,1.6c-4.8,7.2-10.4,19.2-12,24.8s-5.6,4-8-0.8c-3.2-5.6-2.4-16-1.6-20.8c0.8-4,0.8-5.6-1.6-1.6c-4,11.2-4,22.4,4.8,32C184,201.6,187.2,198.4,189.6,192.8z"/><path style="fill:#CFE7E8;" d="M212,171.2c0,2.4,0,5.6,1.6,0.8c0.8-4.8,0.8-11.2-0.8-15.2s-2.4-4.8-4-3.2s-1.6,2.4,0,4C210.4,160,212.8,165.6,212,171.2z"/><path style="fill:#CFE7E8;" d="M228.8,208.8c0,6.4-1.6,6.4-4,0c-0.8-2.4-1.6-2.4-2.4,0.8c0,5.6-2.4,6.4-4,0.8c-0.8-2.4-0.8-4.8-1.6-0.8c-0.8,3.2,0,5.6,1.6,8c1.6,1.6,4,1.6,4.8-0.8s1.6-2.4,3.2-0.8c1.6,1.6,8,0,4.8-8.8C229.6,204,228.8,204.8,228.8,208.8z"/><path style="fill:#CFE7E8;" d="M293.6,158.4c2.4,1.6,4.8,5.6,4,10.4c-0.8,4,0,6.4,2.4,0.8c2.4-5.6,0.8-12-1.6-16s-3.2-2.4-4.8-0.8C292,155.2,291.2,157.6,293.6,158.4z"/><path style="fill:#CFE7E8;" d="M252.8,160.8c0,2.4,0.8,4,4,4.8c6.4,8.8,13.6,18.4,20,27.2c0.8,8,2.4,16,3.2,23.2c1.6,16,4.8,37.6,2.4,47.2c-1.6,7.2,0,9.6,3.2-0.8s3.2-20.8,0.8-36c-0.8-6.4-0.8-13.6-1.6-21.6c10.4,16.8,20.8,32.8,24.8,44c2.4,6.4,4.8,7.2,2.4-0.8c-2.4-11.2-12.8-30.4-28.8-54.4c-0.8-6.4-0.8-12.8-0.8-17.6c2.4,2.4,4,0.8,3.2-2.4c-1.6-6.4-4-11.2-6.4-17.6c-0.8-3.2-4-3.2-5.6,0.8c-1.6,4.8-1.6,5.6,0,8.8c0,4,0.8,9.6,1.6,15.2c-2.4-4-6.4-9.6-9.6-13.6c4,1.6,7.2,0.8,3.2-4c-4-4-9.6-8.8-12.8-12c-3.2-3.2-4.8-0.8-4.8,1.6C252.8,156.8,253.6,158.4,252.8,160.8z"/><path style="fill:#CFE7E8;" d="M298.4,183.2c-0.8,4-2.4,2.4-3.2-0.8c-0.8-1.6-1.6-0.8-1.6,2.4c0.8,3.2,1.6,5.6,4,3.2c1.6-1.6,1.6-1.6,4,0c1.6,1.6,3.2,0,4-0.8c0-0.8,0.8-2.4,0-6.4s-1.6-1.6-2.4,1.6s-2.4,4-3.2,0C300,179.2,298.4,180,298.4,183.2z"/><path style="fill:#CFE7E8;" d="M316.8,235.2c0.8,14.4,2.4,20.8-6.4,31.2c-9.6,10.4-16,13.6-20,14.4c-5.6,1.6-7.2,4,0.8,3.2c12-0.8,13.6-0.8,24-12.8c5.6-6.4,8-14.4,8-33.6c-0.8-33.6-4.8-48-4.8-66.4c1.6,1.6,4,1.6,3.2-1.6c-1.6-4-2.4-8.8-3.2-12.8c-1.6-4-2.4-5.6-4-3.2c-1.6,2.4-3.2,3.2-4,4.8s-1.6,4,0,6.4C315.2,204,316,220.8,316.8,235.2z"/><path style="fill:#CFE7E8;" d="M337.6,239.2c0.8,8,2.4,13.6,0,23.2c-0.8,2.4,0.8,4,2.4,0c7.2-13.6,2.4-25.6,1.6-33.6c-0.8-12-5.6-43.2-6.4-56l0.8,0.8c3.2,1.6,7.2,3.2,4.8-1.6c-2.4-4-4.8-11.2-6.4-16c-1.6-4.8-2.4-4.8-4.8-0.8c-4.8,6.4-1.6,12.8,0,20.8C332.8,203.2,336.8,231.2,337.6,239.2z"/><path style="fill:#CFE7E8;" d="M354.4,194.4c2.4,2.4,4,7.2,5.6,9.6c1.6,4,3.2,0.8,3.2-1.6c0-2.4-0.8-9.6,0-12c1.6-4,4,1.6,4.8-0.8c0.8-1.6-0.8-2.4-1.6-4c-0.8-2.4-1.6-1.6-3.2-0.8c-1.6,1.6-2.4,3.2-2.4,4c0,2.4,0,4.8,0,8.8c0,3.2-0.8,3.2-1.6,1.6c-0.8-2.4-3.2-8-4.8-9.6c-1.6-1.6-4-0.8-4,1.6c0,2.4,0,1.6,0,4C350.4,196.8,353.6,196.8,354.4,194.4z"/><path style="fill:#CFE7E8;" d="M352.8,225.6c0,2.4,3.2-0.8,5.6-2.4s9.6-6.4,12.8-8c3.2-1.6,2.4-2.4,1.6-5.6c0-3.2-2.4-0.8-4.8,1.6s-9.6,7.2-12,9.6S352.8,224,352.8,225.6z"/><path style="fill:#CFE7E8;" d="M336,268.8c-3.2-6.4-3.2-12.8-3.2-18.4c0-4.8-0.8-8.8-2.4-0.8c-4.8,19.2-1.6,23.2,3.2,27.2c6.4,5.6,8.8,6.4,12,0.8c6.4-9.6,8.8-17.6,12-22.4c3.2-4,3.2-0.8,4.8,0.8c4,4.8,7.2,6.4,12.8,7.2c5.6,0.8,15.2-4,14.4-21.6c-0.8-11.2-1.6-25.6-2.4-41.6c5.6,7.2,9.6,13.6,13.6,19.2c1.6,10.4,2.4,20,2.4,27.2c-0.8,8.8,1.6,8.8,3.2,0c0.8-3.2,0.8-11.2,0-20c7.2,9.6,11.2,15.2,13.6,20c3.2,5.6,4.8,9.6,4-0.8c0-4-1.6-7.2-6.4-14.4c-4.8-6.4-8.8-12.8-12.8-19.2c-1.6-15.2-3.2-32-3.2-40.8c2.4,1.6,4,0,2.4-3.2c-0.8-3.2-3.2-12.8-4.8-16c-1.6-3.2-3.2-3.2-4.8,0.8c-1.6,3.2-3.2,4.8-2.4,7.2c0.8,15.2,2.4,29.6,4.8,42.4c-4-5.6-8-11.2-11.2-16c0-5.6-0.8-11.2-0.8-16.8c2.4,1.6,3.2,1.6,2.4-2.4c-0.8-3.2-4-11.2-5.6-14.4c-1.6-3.2-2.4-3.2-4-0.8c-2.4,4-3.2,7.2-0.8,11.2c0,4,0.8,7.2,0.8,11.2c-2.4-3.2-4-6.4-6.4-8.8c2.4,0.8,4-0.8,1.6-3.2s-7.2-6.4-9.6-8.8c-2.4-3.2-4-2.4-4,0s0,4.8,0,7.2s0,4,2.4,8c5.6,7.2,12,14.4,16.8,21.6c2.4,25.6,3.2,42.4,3.2,52.8c0,6.4-2.4,9.6-5.6,10.4c-3.2,0.8-6.4-0.8-9.6-5.6c-5.6-8-8-6.4-12,0.8c-4,7.2-7.2,12.8-9.6,17.6C343.2,271.2,339.2,275.2,336,268.8z"/><path style="fill:#CFE7E8;" d="M412.8,180c0,4.8,1.6,4,2.4,0s0.8-12-1.6-16.8c-2.4-5.6-3.2-3.2-4-1.6c-1.6,2.4-1.6,3.2,0.8,5.6C411.2,169.6,412.8,175.2,412.8,180z"/><path style="fill:#CFE7E8;" d="M434.4,229.6c-1.6-33.6-5.6-48-4.8-60.8c3.2,2.4,4,1.6,2.4-2.4s-4-8.8-5.6-13.6c-1.6-4-2.4-3.2-4.8,0c-2.4,3.2-2.4,5.6-1.6,7.2c4.8,40.8,7.2,62.4,8,75.2c0.8,17.6-3.2,28-20.8,40c-5.6,4-12,8,1.6,4.8C421.6,276,436,267.2,434.4,229.6z"/><path style="fill:#CFE7E8;" d="M389.6,264.8c-2.4,3.2,3.2,4.8,4,2.4c1.6,2.4,0,6.4-2.4,8.8c-4,3.2-1.6,4,0.8,1.6c2.4-1.6,8.8-8.8,4.8-13.6C394.4,262.4,391.2,262.4,389.6,264.8z"/></g><path style="fill:#FFFFFF;" d="M372,324c-10.4,0-20,0-30.4,0.8v-3.2c3.2-4,2.4-4,0-8c-0.8-1.6-1.6-3.2-4,0s-2.4,4,0.8,8v3.2c-79.2,0.8-166.4,0-241.6-0.8c8,13.6,35.2,12.8,60,12.8c22.4,0,89.6,0,180.8-2.4v4c-3.2,4-2.4,4,0,8c2.4,3.2,3.2,1.6,4,0c0.8-0.8,0.8-1.6,0.8-1.6h12c0,1.6,2.4,2.4,3.2,2.4c0.8,0,3.2-0.8,3.2-2.4h13.6c1.6,2.4,3.2,3.2,5.6,3.2c4.8,0,7.2-5.6,6.4-12.8C385.6,324.8,381.6,323.2,372,324z M360.8,340c0-1.6-2.4-2.4-3.2-2.4c-0.8,0-3.2,0.8-3.2,2.4h-12c0-0.8-0.8-1.6-2.4-3.2v-4c10.4,0,21.6-0.8,32.8-0.8c-0.8,2.4-0.8,4.8-0.8,7.2L360.8,340z"/><path style="fill:#CFE7E8;" d="M372,324c-10.4,0-20,0-30.4,0.8v-3.2c3.2-4,2.4-4,0-8c-0.8-1.6-1.6-3.2-4,0s-2.4,4,0.8,8v3.2c0,0,0,0-0.8,0l11.2,9.6c8,0,16.8-0.8,24.8-0.8c-0.8,2.4-0.8,4.8-0.8,7.2h-12c0-1.6-2.4-2.4-3.2-2.4c-0.8,0-2.4,0.8-2.4,1.6l5.6,4.8V344h13.6c1.6,2.4,3.2,3.2,5.6,3.2c4.8,0,7.2-5.6,6.4-12.8C385.6,324.8,381.6,323.2,372,324z"/></svg>                                    
                                    <span class="<%= language === 'ar' ? 'mr-2' : 'ml-2' %> text-gray-800 dark:text-gray-200">Arabic</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Theme Toggle -->
                <button id="theme-toggle" class="p-2 rounded-md text-gray-600 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700">
                    <!-- Moon icon (dark mode) -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 block dark:hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
                    </svg>
                    <!-- Sun icon (light mode) -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 hidden dark:block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
                    </svg>
                </button>

                <!-- User Menu Button -->
                <a href="/login">
                    <button id="user-menu-button" class="p-1 rounded-full text-gray-600 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </button>
                </a>
            </div>
        </nav>
        
        <!-- Sidebar and Main Content -->
        <div class="flex flex-column pt-12">
            <!-- Sidebar -->
            <aside id="sidebar" class="fixed <%= language === 'ar' ? 'right-0' : 'left-0' %> top-16 bottom-0 w-64 bg-white dark:bg-gray-800 border-<%= language === 'ar' ? 'l' : 'r' %> border-gray-200 dark:border-gray-700 transform <%= language === 'ar' ? 'translate-x-full' : '-translate-x-full' %> md:translate-x-0 transition-transform duration-200 ease-in-out z-40">
                <div class="flex flex-col py-4 h-full overflow-y-auto max-h-screen">
                    <div class="px-3 py-5">
                        <div class="registration-prompt-container">
                            <div class="registration-prompt-box bg-white dark:bg-gray-800 shadow-md rounded-lg p-6 text-center">
                                <h2 class="text-xl font-bold mb-4 text-gray-800 dark:text-gray-200"><%= title %></h2>
                                <p class="text-gray-600 dark:text-gray-400 mb-6"><%= description %></p>
                                <div class="flex items-center justify-center space-x-4 <%= language === 'ar' ? 'flex-row-reverse' : '' %>">
                                    <a href="/register" class="w-full px-6 py-2 
                                    bg-primary-600 hover:bg-primary-700 
                                    dark:bg-primary-900 dark:hover:bg-primary-800 
                                    text-white rounded-md transition-colors">
                                    <%= registerButton %>
                                    </a>
                                    <a href="/login" class="px-6 py-2 border border-primary-600 text-primary-600 dark:text-primary-400 rounded-md hover:bg-primary-50 dark:hover:bg-primary-900 transition-colors">
                                    <%= loginButton %>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Navigation Links -->
                    <div class="px-3 flex-1">
                        <div class="space-y-1">
                            <p class="text-xs font-medium text-gray-500 dark:text-gray-400 px-3 py-2"><%= navigationLinks.navigation %></p>

                            <a href="/" class="flex items-center space-x-2 px-3 py-2 rounded-md bg-primary-50 dark:bg-primary-900 text-primary-700 dark:text-primary-300 <%= language === 'ar' ? 'space-x-reverse' : '' %>">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                            </svg>
                            <span><%= navigationLinks.home %></span>
                            </a>
                            
                            <a href="/visitors/about" class="flex items-center space-x-2 px-3 py-2 rounded-md text-gray-700 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 <%= language === 'ar' ? 'space-x-reverse' : '' %>">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M12 2a10 10 0 100 20 10 10 0 000-20z" />
                            </svg>
                            <span><%= navigationLinks.about %></span>
                            </a>

                        </div>
                        
                        <!-- Social Media Icons -->
                        <div class="flex items-center justify-around px-3 py-2 border-t dark:border-gray-700 mt-2">
                            <a href="#" class="">
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="32" viewBox="0 0 48 48">
                                    <path fill="#039be5" d="M24 5A19 19 0 1 0 24 43A19 19 0 1 0 24 5Z"></path><path fill="#fff" d="M26.572,29.036h4.917l0.772-4.995h-5.69v-2.73c0-2.075,0.678-3.915,2.619-3.915h3.119v-4.359c-0.548-0.074-1.707-0.236-3.897-0.236c-4.573,0-7.254,2.415-7.254,7.917v3.323h-4.701v4.995h4.701v13.729C22.089,42.905,23.032,43,24,43c0.875,0,1.729-0.08,2.572-0.194V29.036z"></path>
                                </svg>
                            </a>
                            <a href="#" class="text-gray-600 hover:text-blue-500 dark:text-gray-300 dark:hover:text-blue-500">
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 48 48">
                                    <path fill="#FF3D00" d="M43.2,33.9c-0.4,2.1-2.1,3.7-4.2,4c-3.3,0.5-8.8,1.1-15,1.1c-6.1,0-11.6-0.6-15-1.1c-2.1-0.3-3.8-1.9-4.2-4C4.4,31.6,4,28.2,4,24c0-4.2,0.4-7.6,0.8-9.9c0.4-2.1,2.1-3.7,4.2-4C12.3,9.6,17.8,9,24,9c6.2,0,11.6,0.6,15,1.1c2.1,0.3,3.8,1.9,4.2,4c0.4,2.3,0.9,5.7,0.9,9.9C44,28.2,43.6,31.6,43.2,33.9z"></path><path fill="#FFF" d="M20 31L20 17 32 24z"></path>
                                </svg>
                            </a>
                            <a href="#" class="text-gray-600 hover:text-blue-500 dark:text-gray-300 dark:hover:text-blue-500">
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 48 48">
                                    <path fill="#29b6f6" d="M24,4C13,4,4,13,4,24s9,20,20,20s20-9,20-20S35,4,24,4z"></path><path fill="#fff" d="M34,15l-3.7,19.1c0,0-0.2,0.9-1.2,0.9c-0.6,0-0.9-0.3-0.9-0.3L20,28l-4-2l-5.1-1.4c0,0-0.9-0.3-0.9-1	c0-0.6,0.9-0.9,0.9-0.9l21.3-8.5c0,0,0.7-0.2,1.1-0.2c0.3,0,0.6,0.1,0.6,0.5C34,14.8,34,15,34,15z"></path><path fill="#b0bec5" d="M23,30.5l-3.4,3.4c0,0-0.1,0.1-0.3,0.1c-0.1,0-0.1,0-0.2,0l1-6L23,30.5z"></path><path fill="#cfd8dc" d="M29.9,18.2c-0.2-0.2-0.5-0.3-0.7-0.1L16,26c0,0,2.1,5.9,2.4,6.9c0.3,1,0.6,1,0.6,1l1-6l9.8-9.1	C30,18.7,30.1,18.4,29.9,18.2z"></path>
                                </svg>
                            </a>
                            <a href="#" class="text-gray-600 hover:text-blue-500 dark:text-gray-300 dark:hover:text-blue-500">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 32 32">
                                    <path fill="#25D366" d="M25.873,6.069c-2.619-2.623-6.103-4.067-9.814-4.069C8.411,2,2.186,8.224,2.184,15.874c-.001,2.446,.638,4.833,1.852,6.936l-1.969,7.19,7.355-1.929c2.026,1.106,4.308,1.688,6.63,1.689h.006c7.647,0,13.872-6.224,13.874-13.874,.001-3.708-1.44-7.193-4.06-9.815h0Zm-9.814,21.347h-.005c-2.069,0-4.099-.557-5.87-1.607l-.421-.25-4.365,1.145,1.165-4.256-.274-.436c-1.154-1.836-1.764-3.958-1.763-6.137,.003-6.358,5.176-11.531,11.537-11.531,3.08,.001,5.975,1.202,8.153,3.382,2.177,2.179,3.376,5.077,3.374,8.158-.003,6.359-5.176,11.532-11.532,11.532h0Zm6.325-8.636c-.347-.174-2.051-1.012-2.369-1.128-.318-.116-.549-.174-.78,.174-.231,.347-.895,1.128-1.098,1.359-.202,.232-.405,.26-.751,.086-.347-.174-1.464-.54-2.788-1.72-1.03-.919-1.726-2.054-1.929-2.402-.202-.347-.021-.535,.152-.707,.156-.156,.347-.405,.52-.607,.174-.202,.231-.347,.347-.578,.116-.232,.058-.434-.029-.607-.087-.174-.78-1.88-1.069-2.574-.281-.676-.567-.584-.78-.595-.202-.01-.433-.012-.665-.012s-.607,.086-.925,.434c-.318,.347-1.213,1.186-1.213,2.892s1.242,3.355,1.416,3.587c.174,.232,2.445,3.733,5.922,5.235,.827,.357,1.473,.571,1.977,.73,.83,.264,1.586,.227,2.183,.138,.666-.1,2.051-.839,2.34-1.649,.289-.81,.289-1.504,.202-1.649s-.318-.232-.665-.405h0Z" fill-rule="evenodd"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </aside>
        </div>

        <!-- Unique error message container -->
        <div id="form-error-container" class="fixed top-[11vh] left-0 right-0 flex justify-center items-center z-50 max-w-[33vw] mr-[33vw] ml-[33vw]">
            <div id="form-error-message" class="hidden bg-yellow-100 border border-yellow-400 text-red-700 px-4 py-2 rounded-lg shadow-lg text-sm text-center 
                opacity-0 transition-all duration-300 ease-in-out transform -translate-y-full 
                min-w-[300px] max-w-[500px]">
                <!-- Error message will be dynamically inserted here -->
            </div>
        </div>
        
        <div class="flex-1 font-bold px-4 pt-1 max-h-[5vh] md:<%= language === 'ar' ? 'mr-64' : 'ml-64' %> items-center justify-center mt-8 w-full max-w-lg sm:max-w-xl md:max-w-2xl lg:max-w-3xl xl:max-w-4xl 2xl:max-w-5xl 3xl:max-w-6xl 4xl:max-w-7xl mx-auto">
            <% if(typeof categoryInfo !== 'undefined' && categoryInfo && categoryInfo?.name) { %>
                <div class="flex items-center w-full">
                    <a href="javascript:history.back()" class="p-2 rounded-full hover:bg-gray-200 dark:hover:bg-gray-700 transition-colors duration-200 flex items-center justify-center mr-3">
                        <% if (language === 'ar') { %>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-800 dark:text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                            </svg>
                        <% } else { %>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-800 dark:text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                            </svg>
                        <% } %>
                    </a>
                    <h1 class="text-lg md:text-xl lg:text-2xl font-bold text-gray-900 dark:text-white text-start">
                        <%= categoryInfo.name %>
                    </h1>
                </div>
            <% } %>
        </div>
        
        <!-- Main Content -->
        <main class="flex-1 items-center justify-center p-4 md:p-6 <%= language === 'ar' ? 'md:mr-64' : 'md:ml-64' %> transition-all duration-200">
            <!-- Slidebar for 3 images -->
            <div class="flex justify-center mb-2 mt-3 px-auto">
                <div class="card w-full max-w-lg sm:max-w-xl md:max-w-2xl lg:max-w-3xl xl:max-w-4xl 2xl:max-w-5xl 3xl:max-w-6xl 4xl:max-w-7xl rounded-lg shadow-lg overflow-hidden" style="height: 30vw;">
                    <div class="slideshow">
                        <img src="/static/images/slider/default1.png" alt="Slideshow Image 1" class="w-full h-auto rounded-lg shadow-lg">
                        <img src="/static/images/slider/default2.png" alt="Slideshow Image 2" class="w-full h-auto rounded-lg shadow-lg absolute top-0 left-0 opacity-0 transition-opacity duration-500 ease-in-out">
                        <img src="/static/images/slider/default1.png" alt="Slideshow Image 3" class="w-full h-auto rounded-lg shadow-lg absolute top-0 left-0 opacity-0 transition-opacity duration-500 ease-in-out">
                    </div>
                </div>
            </div>
            
            <% if(typeof removeMarquee === 'undefined' || removeMarquee === false) { %>
                <div style="height: 60px;" class="flex flex-1 items-center justify-center bg-gray-200 dark:bg-gray-800 dark:text-white mb-4 px-4 w-full max-w-lg sm:max-w-xl md:max-w-2xl lg:max-w-3xl xl:max-w-4xl 2xl:max-w-5xl 3xl:max-w-6xl 4xl:max-w-7xl rounded-lg shadow-lg mx-auto">
                    <marquee id="marquee" class="w-full text-4xl" behavior="scroll" direction="left"></marquee>
                </div>
            <% } %>

            <!-- Search Bar -->
            <div class="relative w-full max-w-lg sm:max-w-xl md:max-w-2xl lg:max-w-3xl xl:max-w-4xl 2xl:max-w-5xl 3xl:max-w-6xl 4xl:max-w-7xl mx-auto">
                <form class="relative">
                    <div class="relative">
                        <input 
                            type="text" 
                            id="categorySearch" 
                            class="block rounded-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-white dark:bg-gray-700 border border-gray-300 dark:border-gray-600 appearance-none dark:text-white dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" 
                            placeholder=" "
                            autocomplete="off"
                        />
                        <label for="categorySearch" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"><%= searchBarText %></label>
                    </div>
                </form>              
            </div>
            
            <!-- Grid for categories with images -->
            <div class="flex-1 items-center justify-center mt-8 mb-4 w-full max-w-lg sm:max-w-xl md:max-w-2xl lg:max-w-3xl xl:max-w-4xl 2xl:max-w-5xl 3xl:max-w-6xl 4xl:max-w-7xl mx-auto">
                <div id="categoryGrid" class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-4 gap-4">
                    <% if(Array.isArray(categories) && categories.length > 0) { %>
                        <% categories.forEach(category => { %>
                        <div class="category-item  flex flex-col items-center w-full relative" data-category-name="<%= category.name.toLowerCase() %>">
                            <a href="<%= category.isActive ? `/visitors/category/${category.id}` : '#' %>" class="w-full <%= !category.isActive ? 'cursor-default' : '' %>">
                                <div class="w-full aspect-square bg-white dark:bg-gray-800 rounded-lg shadow-lg overflow-hidden transform transition duration-300 ease-in-out hover:scale-105 relative">
                                    <% if (category.categoryImage) { %>
                                        <img 
                                            src="<%= category.categoryImage %>" 
                                            alt="<%= category.name %>" 
                                            class="w-full h-full object-cover <%= !category.isActive ? 'filter grayscale' : '' %>"
                                            loading="lazy"
                                        >
                                        <% if (!category.isActive) { %>
                                            <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center">
                                                <span class="text-white font-bold text-lg bg-red-500 px-3 py-1 rounded-full">
                                                    <%= language === 'ar' ? 'غير متوفر' : 'Unavailable' %>
                                                </span>
                                            </div>
                                        <% } %>
                                    <% } else { %>
                                        <div class="w-full h-full bg-gradient-to-br from-primary-500 to-primary-600 dark:from-primary-600 dark:to-primary-700 flex items-center justify-center <%= !category.isActive ? 'filter grayscale' : '' %>">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
                                            </svg>
                                        </div>
                                        <% if (!category.isActive) { %>
                                            <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50">
                                                <span class="text-white font-bold text-lg bg-red-500 px-3 py-1 rounded-full">
                                                    <%= language === 'ar' ? 'غير متوفر' : 'Unavailable' %>
                                                </span>
                                            </div>
                                        <% } %>
                                    <% } %>
                                </div>
                                <h3 class="text-md md:text-lg font-medium text-gray-900 dark:text-gray-100 mt-2 text-center">
                                    <%= category.name %>
                                    <% if (!category.isActive) { %>
                                        <span class="block text-xs text-red-500">(<%= language === 'ar' ? 'غير متوفر' : 'Inactive' %>)</span>
                                    <% } %>
                                </h3>
                            </a>
                        </div>
                    <% }); %>
                </div>
                <% } else { %>
                    <!-- Grid for products with images -->
                     
                    <% if (typeof products !== 'undefined') { %>
                        <% products.forEach(product => { %>

                            <div class="category-item flex flex-col items-center w-full relative" data-category-name="<%= product.name.toLowerCase() %>">
                                <input type="text" id="productId" class="hidden" value="<%= product.id %>" />
                                <input type="text" id="productFormName" class="hidden" value="<%= product.dialogFormName %>" />
                                <a href="#" class="w-full show-warning-link <%= !product.isAvailable ? 'cursor-default' : '' %>" data-warning="<%= popup_messages.login_warn %>">
                                    <div class="w-full aspect-square bg-white dark:bg-gray-800 rounded-lg shadow-lg overflow-hidden transform transition duration-300 ease-in-out hover:scale-105 relative">
                                        <% if (product.imagePath) { %>
                                            <img 
                                                src="<%= product.imagePath %>" 
                                                alt="<%= product.name %>" 
                                                class="w-full h-full object-cover <%= !product.isAvailable ? 'filter grayscale' : '' %>"
                                                loading="lazy"
                                            >
                                            <% if (!product.isAvailable) { %>
                                                <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center">
                                                    <span class="text-white font-bold text-lg bg-red-500 px-3 py-1 rounded-full">
                                                        <%= language === 'ar' ? 'غير متوفر' : 'Unavailable' %>
                                                    </span>
                                                </div>
                                            <% } %>
                                        <% } else { %>
                                            <div class="w-full h-full bg-gradient-to-br from-primary-500 to-primary-600 dark:from-primary-600 dark:to-primary-700 flex items-center justify-center <%= !product.isAvailable ? 'filter grayscale' : '' %>">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
                                                </svg>
                                            </div>
                                            <% if (!product.isAvailable) { %>
                                                <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50">
                                                    <span class="text-white font-bold text-lg bg-red-500 px-3 py-1 rounded-full">
                                                        <%= language === 'ar' ? 'غير متوفر' : 'Unavailable' %>
                                                    </span>
                                                </div>
                                            <% } %>
                                        <% } %>
                                    </div>
                                    <h3 class="text-md font-medium text-gray-900 dark:text-gray-100 mt-2 text-center">
                                        <%= product.name %>

                                        <span class="block text-green-700 dark:text-green-400"><%= (product.price * product.minUnits).toFixed(3) %> $</span>
                                        <% if (!product.isAvailable) { %>
                                            <span class="block text-xs text-red-500">(<%= language === 'ar' ? 'غير متوفر' : 'Inactive' %>)</span>
                                            <% } %>
                                    </h3>
                                </a>
                            </div>
                        <% }); %>
                    <% } else { %>
                        <div id="noResults" class="hidden text-center text-gray-600 dark:text-gray-400 py-8">
                            <%= noResults %>
                        </div>
                    <% } %>
                <% } %>
            </div>
        </main>
        
        <footer class="bg-gray-200 dark:bg-gray-800 text-gray-600 dark:text-gray-300 py-4 text-center">
            &copy;<span id="footer-year"></span>, Meso Card, All rights reserved,
            <a href="https://masarcode.com" class="underline inline-flex items-center gap-1">
                <span class="font-bold">Masar Code</span>
                <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="red" viewBox="0 0 24 24" class="w-4 h-4">
                    <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 
                    2 5.42 4.42 3 7.5 3c1.74 0 3.41 0.81 
                    4.5 2.09C13.09 3.81 14.76 3 16.5 3 
                    19.58 3 22 5.42 22 8.5c0 3.78-3.4 
                    6.86-8.55 11.54L12 21.35z"/>
                </svg> -->
            </a>
            
        </footer>
<script>
    const formErrorMessage = document.getElementById('form-error-message');
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.show-warning-link').forEach(function (el) {
            el.addEventListener('click', function (e) {
                e.preventDefault(); // Prevent default link behavior
                const message = el.getAttribute('data-warning') || 'An unknown warning occurred';
                showWarning(message);
            });
        });
    });
    // Show form-specific error message
    function showWarning(message) {
        // Ensure message is set
        if (!message) message = 'Something might be wrong';
        
        // Show the form
        formErrorMessage.classList.remove('hidden');

        // Set the message text
        formErrorMessage.textContent = message;
        
        // Force reflow to ensure transition works
        formErrorMessage.offsetHeight;
        
        // Animate error message
        formErrorMessage.style.opacity = '1';
        formErrorMessage.style.transform = 'translateY(0)';

        // Auto-hide after 5 seconds
        setTimeout(() => {
            formErrorMessage.style.opacity = '0';
            formErrorMessage.style.transform = 'translateY(-100%)';
            formErrorMessage.classList.add('hidden');
        }, 5000);
    }

    // Toggle dark mode
    const themeToggleBtn = document.getElementById('theme-toggle');
    themeToggleBtn.addEventListener('click', () => {
      document.documentElement.classList.toggle('dark');
      localStorage.setItem('theme', document.documentElement.classList.contains('dark') ? 'dark' : 'light');
    });

    // Check for saved theme preference
    if (localStorage.getItem('theme') === 'dark' || 
        (!localStorage.getItem('theme') && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      document.documentElement.classList.add('dark');
    } else {
      document.documentElement.classList.remove('dark');
    }

    // Toggle sidebar on mobile
    const toggleSidebarBtn = document.getElementById('toggle-sidebar');
    const sidebar = document.getElementById('sidebar');
    const mainContent = document.getElementById('main-content');
    const isRTL = document.documentElement.dir === 'rtl' || '<%= language %>' === 'ar';
    
    toggleSidebarBtn.addEventListener('click', () => {
      if (isRTL) {
        sidebar.classList.toggle('translate-x-full');
        sidebar.classList.toggle('translate-x-0');
      } else {
        sidebar.classList.toggle('-translate-x-full');
        sidebar.classList.toggle('translate-x-0');
      }
      
    });

    // Toggle language dropdown
    const languageDropdownBtn = document.getElementById('language-dropdown-btn');
    const languageDropdown = document.getElementById('language-dropdown');
    languageDropdownBtn.addEventListener('click', () => {
      languageDropdown.classList.toggle('hidden');
    });
</script>
<script src="/static/scripts/slider.js"></script>
<script src="/static/js/language.js"></script>
<script src="/static/js/search.js"></script>
<% if(typeof removeMarquee === 'undefined' || removeMarquee === false) { %>
    <script src="/static/js/marquee.js"></script>
<% } %>
<script src="/static/js/sweetalert2.js"></script>
</body>
</html>